*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; 
    border:none;
    text-decoration: none;
    transition: .3s linear;
}
@font-face {
    font-family: CheapPine;
    src: url(Cheap\ Pine\ Regular.otf);
}

@font-face {
    font-family: Chambord;
    src: url(Chambord.ttf);
}

html{
    font-size: 63%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    overflow-x: hidden;
}

section{
    padding: 3rem 9%;
}
.home{
    display:grid;
    text-align: center;
    align-items: center;
    min-height: 75vh;
    background: url(steak1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content h1{
    font-size: 7rem;
    color: white;
    text-align: center;
    -webkit-text-stroke: black;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2rem 10%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .title{
    font-family: CheapPine;
    font-size: 4rem;
    color:#333;
    font-weight: bolder;
}

header .navbar a{
    font-size: 2.5rem;
    padding:0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color: #fba83b;
}

.heading{
    text-align: center;
    font-size: 8rem;
    color: #fba83b;
    padding:1rem;
    margin:4rem 0;
    background-size: cover;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;

}

.heading1{
    text-align: center;
    font-size: 8rem;
    color: #fba83b;
    padding:1rem;
    margin:4rem 0;
    background-size: cover;
    margin-top: 100px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;

}

.about .content p{
    font-size: 2rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    text-align: center;
}

.about .what{
    text-align: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.menu .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.menu .box-container .box{
    flex:1 1 30rem;
    box-shadow: 0 8px 32px rgba(31,38,135,0.37);
    border-radius: 10px;
    border:1px solid rgba(255,255,255,0.18);
    position: relative;
    background: rgba(155,155,155, 0.05);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);

}
.menu .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow:hidden;
}

.menu .box-container .box .image img{
    height:30rem;
}
.menu .box-container .box:hover .image img{
    transform: scale(1.2);
}
.menu .buybutton{
    height: 2rem;
    width: auto;
    font-family: Garamond;
}

.menu .box-container .box .content{
    padding:2rem;
    text-align: center;
}

.menu .box-container .box .content h3{
    font-size: 2.5rem;
    color:#333;
    font-family: 'Courier New', Courier, monospace;
}

.menu .box-container .box .content .price{
    font-size: 2.5rem;
    color:#fba83b;
    font-weight: bolder;
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.home .content h3{
    font-size: 5rem;
}
.contact .contactform{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
    align-items: center;
}
.contact .contactform form .box{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background:#fff;
    border-radius: .5rem;
}


.contact .contactform form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.contact .contactform form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border:1px solid rgba(255,255,255,.18);
    background: rgba(155, 155, 155, 0.05);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 10px;

}

.button{
    display: inline-block;
    margin-top: 1rem;
    border: 1px solid;
    background: black;
    color: white;
    padding: 1rem 4rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5rem;
}

.button:hover{
    background:#fba83b;
    color: white;
    border: 1px solid;
}

.buypage{
    background: url(steak-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    margin-left:600px;
    margin-right: 100px;
}

.boxcontainer{
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border:1px solid rgba(255,255,255,.18);
    background: rgba(155, 155, 155, 0.05);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    margin: 5%;
    width: 600px;
    height: auto;
    margin-left: -140px;
    margin-top: 150px;
}

form{
    padding:20px;
    margin: 1rem;
}

.buyform{
    margin-top:30px;
    width:125px;
    color: white;
    font-size:18px;
    font-weight:700;
    font-family: -webkit-pictograph;
    height: 40px;
}

.fullname{
    position:relative;
    top:-4px;
    line-height:40px;
    width:550px;
    border-radius:1px;
    padding:0 22px;
    font-size:14px;
    color:black;
    font-family: inherit;
}

.contactnumber{
    position:relative;
    top:-4px;
    line-height:40px;
    width:550px;
    border-radius:1px;
    padding:0 22px;
    font-size:14px;
    color:black;
    font-family: Arial;
}

.homeadd{
    position:relative;
    top:-4px;
    line-height:40px;
    width:550px;
    border-radius:1px;
    padding:0 22px;
    font-size:14px;
    color:black;
    font-family: Arial;
}

.emailaddress{
    position:relative;
    top:-4px;
    line-height:40px;
    width:550px;
    border-radius:1px;
    padding:0 22px;
    font-size:14px;
    color:black;
    font-family: Arial;
}
  
.buybtn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:black;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    
}

.buybtn:hover{
    background: #fba83b;
    color: black;
}

.cancelbtn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:black;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;

}

.cancelbtn:hover{
    background:#fba83b;
    color: black;
}
   
.buybutton{
    color: black;
    font-size: 25px;
    border: 1px solid;
    border-radius: 5rem;
    padding: 1rem 4rem;
}
.buybutton:hover{
    background: #fba83b;
}

.food{
    position:relative;
    top:-4px;
    line-height:40px;
    width:550px;
    border-radius:1px;
    padding:0 22px;
    font-size:14px;
    color:black;
    font-family: Arial;
    height: 40px;
}

.date{
    position:relative;
    top:-4px;
    line-height:40px;
    width:550px;
    border-radius:1px;
    padding:0 22px;
    font-size:14px;
    color:black;
    font-family: Arial;
    height: 40px;
}

.buttonread{
    display: inline-block;
    margin-top: 1rem;
    border: 1px solid;
    background: black;
    color: white;
    padding: 1rem 4rem;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 5rem;
}

.buttonread:hover{
    background:#fba83b;
    color: white;
    border: 1px solid;
}

.how{
    font-size: 2.5rem;
    padding:0 1.5rem;
    color:#666;
    margin-left: -1rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.quantity{
    position:relative;
    top:-4px;
    line-height:40px;
    width:550px;
    border-radius:1px;
    padding:0 22px;
    font-size:14px;
    color:black;
    font-family: inherit;
}

.content .welcome{
    font-family: Chambord;
    font-size: 20px;
    color: #fba83b;
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
.about .aboutsteak{
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border:1px solid rgba(255,255,255,.18);
    background: rgba(155, 155, 155, 0.05);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    margin: 5%;
    width: auto;
    height: 25rem;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    padding: 2rem;
}

.bookdelivery{
    border: 2px solid rgba(17, 14, 14, 0.18);
    box-shadow: 0 1px 1px 1px rgba(5, 6, 17, 0.37);
    padding: 1rem;
    font-size: 2rem;
  
}

.bookdelivery:hover{
    cursor: pointer;
    background:#fba83b;
}

header .bookdelivery a{
    color: #666;
}

.buttons{
    margin: 1rem;
    text-align: center;
}
